body {
    background-color: rgb(26, 72, 90);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.border{
    border: 7px double rgb(255, 255, 255);
    border-radius: 5px;
    height:max-content;
    width:max-content;
    padding: 2%;
    margin: auto;
    margin-top: 9%;
}

img{
    padding: 10px;
    border-radius: 5%;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: hsl(0, 0%, 100%);
}

.link{
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 35px;
}